# git ignore file

#Visual Studio Dateien ignorieren
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

ToolFahrrad-v1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ToolFahrrad-v1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ToolFahrrad-v1/obj/Debug/ToolFahrrad.csproj.FileListAbsolute.txt
ToolFahrrad-v1/obj/Debug/ToolFahrrad.csproj.GenerateResource.Cache
ToolFahrrad-v1/ToolFahrrad.csproj
